body {
  min-height: 150vh;
}

.wrapper {
  margin: 20px 70px;
}

.arrow {
  position: fixed;
  right: 30px;
  bottom: 50px;
  font-size: 30px;
  transition: 0.2s linear;
  cursor: pointer;
}

.arrow.action {
  transform: translateY(-270px) rotate(180deg);
}

nav {
  position: fixed;
  height: 300px;
  width: 100%;
  left: 0;
  bottom: -270px;
  background-color: black;
  transition: 0.2s linear;
}

nav.action {
  bottom: 0;
}

/* body {
  min-height: 150vh;
}

.wrapper {
  margin: 10px 70px;
}

.arrow {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 30px;
  transition: 0.2s linear;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 100vw;
  height: 300px;
  left: 0;
  bottom: -270px;
  background-color: #000;
  transition: 0.2s linear;
}

.arrow.action {
  transform: translate(0, -270px) rotate(180deg);
}

nav.action {
  bottom: 0;
} */
